IO_LOC  "seg_dot" 54;
IO_PORT "seg_dot" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "rst_1" 53;
IO_PORT "rst_1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "rst_in" 51;
IO_PORT "rst_in" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "cats[0]" 69;
IO_PORT "cats[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "cats[1]" 31;
IO_PORT "cats[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "cats[2]" 49;
IO_PORT "cats[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "cats[3]" 71;
IO_PORT "cats[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[6]" 68;
IO_PORT "seg[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[5]" 48;
IO_PORT "seg[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[4]" 55;
IO_PORT "seg[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[3]" 56;
IO_PORT "seg[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[2]" 57;
IO_PORT "seg[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[1]" 32;
IO_PORT "seg[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[0]" 70;
IO_PORT "seg[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "fil[0]" 28;
IO_PORT "fil[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fil[1]" 29;
IO_PORT "fil[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fil[2]" 30;
IO_PORT "fil[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fil[3]" 33;
IO_PORT "fil[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "col[0]" 34;
IO_PORT "col[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "col[1]" 40;
IO_PORT "col[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "col[2]" 35;
IO_PORT "col[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "col[3]" 41;
IO_PORT "col[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
